# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres@localhost:5434/project_management?schema=public"

# Authentication / JWT
JWT_SECRET="super-secret-jwt-key-project-mgmt-2026-min32chars"
JWT_EXPIRES_IN="1h"

# CORS Allowed Origin for Web Client (Mobile can connect with no origin)
WEB_ORIGIN="http://localhost:5173"

# Pino Logger Level (trace, debug, info, warn, error)
LOG_LEVEL="info"
